---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const identity = {
    firstName: 'Arioscleiton',
    country: 'Brazil',
    occupation: 'Software Engineer',
    hobbies: ['guitar', 'traveling', 'movies'],
};

const skills = ['JavaScript', 'TypeScript', 'NodeJS', 'React', 'Angular', 'NextJS', 'Java', 'Go', 'Software Architecture', 'System Design'];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = 'navy';
const fontWeight = 'bold';
const textCase = 'capitalize';
---
<BaseLayout pageTitle={pageTitle}>
    <style define:vars={{skillColor, fontWeight, textCase}} is:global>
        h1 {
            color: purple;
            font-size: 4rem;
        }

        .skill, .tag {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }
    </style>

    <h2>... and my new Astro site!</h2>

    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is <span class="tag">{identity.firstName}</span></li>
        <li>I live in <span class="tag">{identity.country}</span> and I work as a <span class="tag">{identity.occupation}</span></li>
        <li>Two of my hobbies are: <span class="tag">{identity.hobbies[0]}</span> and <span class="tag">{identity.hobbies[1]}</span></li>
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map(skill => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</BaseLayout>

